#Zoo{
	background-color: crimson;
	height: 800px;
	width: 800px;
	position: relative;
	justify-content: center;
	text-align: center;

}

#Habitat{
	background-color: aquamarine;

	height: 600px;
	width: 600px;
	display: flex;
	
	/*justify-content: center;
	display: inline-block;*/

	position: absolute;
	left: 5%;
	margin-left: 25px;
	top: 5%;
	margin-top: 10px;
	background-image: url("https://cdn.pixabay.com/photo/2018/01/30/22/48/torrent-3119822_1280.jpg");
	background-size: contain;





}

.image img {
	height: 200px;
	width: 200px;
	justify-content: center;
}

#toFeedButton {
	background-color: orange;

}

#toCleanButton{
	background-color: blue;

}

#toPlayButton{
	background-color: black;

}
